/Tresor/bin/Debug/Tresor.exe
/Tresor/bin/Debug/Tresor.exe.config
/Tresor/bin/Debug/Tresor.pdb
/Tresor/bin/Debug/Tresor.vshost.exe
/Tresor/bin/Debug/Tresor.vshost.exe.config
/Tresor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Tresor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Tresor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Tresor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Tresor/obj/Debug/Tresor.csproj.FileListAbsolute.txt
/Tresor/obj/Debug/Tresor.csprojResolveAssemblyReference.cache
/Tresor/obj/Debug/Tresor.exe
/Tresor/obj/Debug/Tresor.pdb
